/* .border-red {
    border: 1px solid red;
} */

.my-spiner {
    right: 100px;
}

.loader {
    opacity: 1;
    z-index: 2;
}

.loader2 {
    opacity: 1;
    z-index: 2;
    left: 50%;
    top: 20%;
}

.loader-opacity-0 {
    opacity: 0;
    z-index: 2;
}

.img-icon {
    height: 40px;
}

/* ---------- Marquee ----------- */
.marquee-text-wrap {
    overflow: hidden;
}

.marquee-text-content {
    width: 10000px;
}

.marquee-text-text {
    /* animation-name: move; */
    /* animation-duration: 20s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* float: left; */
    animation-delay: 0.5s;
    animation: move 175s linear infinite; 

}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}